extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form.form--login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', value='loulou@example.com',required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', value='user1234',required, minlength='8')
        .form__group
          h3(style={'text-align':'center'}) "Want a quick test without creating an account? Use these credentials."
        .form__group
          button.btn.btn--green Login